@import "colours.css"; 
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

body{
  background-color: var(--background);
  font-family: 'Inconsolata', monospace;
  color: var(--foreground);
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--color9);
}

ul.navbar li{
	float: left;
}

ul.navbar li a{
	display: block;
  color: var(--color2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.navbar li a:hover{
  color: var(--foreground);
}

img{
  max-height: 100%;
  max-width: 100%;
}

.textbox{
  border: 5px;
  border-style: solid;
  border-color: var(--color9);
  margin: 15% auto;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  max-width:800px;
}

.textbox p{
  font-size: 36px;
  padding-left: 40px;
  padding-right: 40px;
}

.article {
  border: 5px;
  border-style: solid;
  border-color: var(--color9);
  margin: 20px;
  padding: 10px 30px 30px 30px;
}

.article-header H1{
  border-width: 0 0 1px 0;
  border-style: dashed;
  border-color: var(--foreground);
  padding-bottom: 2px;
}

.article-content a{
  text-decoration: none;
  color: var(--color10);
}

.article-content a:hover{
  color: var(--foreground);
}

