<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<title>rchu.cc - ${title}</title>
</head>
<body>
<ul class="navbar">
	<li><a href="https://rchu.cc/">rchu.cc</a></li>
	<li><a href="https://github.com/Bracktus">code</a></li>
	<li><a href="../construction.html">blog</a></li>
	<li><a href="../dots.html">dotfiles</a></li>
</ul>
</div>
<div class="article">
	<div class="article-header">
		<H1>${title}</H1>
		<H4>Written on: ${date}</H4>
	</div>
	<div class="article-content">
		${body}
	</div>
	<hr>
	<b>If I've gotten anything wrong and you want to let me know, or if you wanna just ask me a question find me at rickychu1001@gmail.com</b>
</div>
</body>
</html>
