<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>${title}</title>
</head>
<body>
<ul class="navbar">
	<li><a href="https://rchu.cc/">rchu.cc</a></li>
	<li><a href="https://github.com/Bracktus">code</a></li>
	<li><a href="./construction.html">blog</a></li>
	<li><a href="./dots.html">dotfiles</a></li>
</ul>
</div>
<div class="article">
	<div class="article-header">
		<H1>${title}</H1>
		<H4>Last updated on: ${date-updated}</H4>
	</div>
	<div class="article-content">
		${body}
	</div>
</div>
</body>
</html>
